* {
  box-sizing: inherit;
}

html {
  background-color: #111;
  background-repeat: no-repeat;
  color: #f2f3fb;
  box-sizing: border-box;
  font-size: 15px;
  height: 100%;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

body {
  height: 100%;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

a {
  border-bottom: 2px solid transparent;
  color: #9191a1;
  text-decoration: none;
  transition: border 300ms ease-in;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  text-shadow: #888 1px 0 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-weight: bold;
  margin: 0.5em 0;
  width: 100%;
}

@media (max-width: 450px) {
  h2 {
    font-size: 1.2em;
  }
}

header {
  font-family: 'Roboto', georgia, serif;
  height: 50%;
  position: relative;
}

.title {
  padding: 0 1em;
  position: absolute;
  bottom: 1em;
  width: 100%;
}

footer {
  font-family: 'PT Mono', georgia, serif;
  color: #ffb87a;
  font-size: 1.3em;
  height: 50%;
  padding: 1em 1em 0 1em;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  margin: 0.5em 0 0 0;
}

li {
  list-style-type: circle;
}

.code {
  font-family: 'PT Mono', monospace;
  font-weight: 500;
  margin: 0 0.35em;
}

.inline-navigation-list {
  list-style-type: none;
  margin-top: 1.25em;
  padding: 0;
}

.inline-navigation-list li {
  display: inline-block;
  margin: 0 0.8em;
}

@media (max-width: 450px) {
  .inline-navigation-list li {
    margin: 0 0.7em;
  }
}

.no-break {
  white-space: nowrap;
}

::-moz-selection {
  background: #444;
  text-shadow: none;
}

::selection {
  background: #444;
  text-shadow: none;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

.underline-ani {
  display: inline-block;
  position: relative;
}

.underline-ani:hover {
  color: #ffb87a;
}

.about {
  font-family: monospace;
  color: #eee;
  font-weight: medium;
  font-size: 1em;
  text-justify: auto;
  margin: auto;
  max-width: 800px;
  padding-bottom: 0.8em;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
}

@media (max-width: 800px) {
  .about {
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .about {
    max-width: 80%;
  }
}

.about > h1 {
  font-size: 2em;
}

.about > h2 {
  font-size: 1.25em;
  color: #ffb87a;
  margin-bottom: 1em;
}

.about > a {
  margin: 30px 0;
  color: #888;
}
